<h2>Answers</h2>
<div class="answers">
  {{#each sortedAnswer as |answer|}}
  <hr>
    <p>Author: {{answer.author}}</p>
    <p>Answer: {{answer.answer}}</p>
    <p>Votes: {{answer.votes}}</p>
    <p>Answer Date: {{answer.date}}</p>
    <br>
    {{upvote-answer answer=answer upvote="upvote"}}
  {{/each}}
</div>
