{{#each questions as |question|}}
  {{#link-to 'question' question.id}}
    <h3>Question: {{question.question}} {{question-icons question}}</h3>
    <p>Author: {{question.author}}</p>
    <p>Question Date: {{question.date}}</p>
    <button {{action 'addToFavourites' question}}>Add Question to Favourites</button>
    <br>

  {{/link-to}}
{{/each}}
