<div class="row">
  <div class="col-md-8">
    {{question-tile questions=model.questions}}
  </div>
  <div class="col-md-4">
    {{new-question save="save"}}
    {{tag-list deleteTag="deleteTag" tags=model.tags}}
    {{new-tag saveTag="saveTag"}}
  </div>
</div>

<hr>
{{favourite-questions-tile}}
