<div class="row">
  <div class="col-md-8">
    <h2>Question: {{model.question}}</h2>
    <p>Author: {{model.author}}</p>
    <p>Notes: {{model.additionalNotes}}</p>
    {{delete-question delete="delete" question=model}}
  </div>

  <div class="col-md-4">
    {{edit-question edit="edit" question=model}}
  </div>

</div>

<hr>

{{answer-tile answers=model.answers}}

{{new-answer save="save" question=model}}
