<h2>Question: {{model.question}}</h2>

<p>Author: {{model.author}}</p>
<p>Notes: {{model.additionalNotes}}</p>

<hr>

{{delete-question delete="delete" question=model}}

{{answer-tile answers=model.answers}}

<h4>Answer the question</h4>
{{new-answer save="save" question=model}}
